[submodule "vendor/SDL2"]
	path = vendor/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/SDL2_mixer"]
	path = vendor/SDL2_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "vendor/SDL2_image"]
	path = vendor/SDL2_image
	url = https://github.com/libsdl-org/SDL_image.git
